html {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  height: 100%;   
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  background-color: lightblue;
  font-weight: 600;
}

label[id="tos"] {
  color: red;
}

input[type="checkbox"]:checked {
  width: 25px;
  height: 25px;
}

input[id="accept"]:checked {
  color: green;
}

input[type="radio"]:checked {
  margin-left: 25px;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

ul {
  display: flex;
  list-style: none;
}

.parent {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.main {
  display: flex;
  flex-grow: 1;
}

.content {
  flex-grow: 1;
  width: auto;
}

.child {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;
  padding: 20px;
  font-size: 20px;
  line-height: 20px;
  color: green;
  background-color: burlywood;
  border-radius: 10px;
  border: 10px solid goldenrod;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: grey;
  }
  .parent {
    display: flex;
    flex-direction: column;
  }
  .child {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 30px;
  }
}