* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: lightblue;
  height: 100%;   
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}

.column {
  height: 100%;  
  display: flex;
  flex-direction: column; 
}

label[id="tos"] {
  color: red;
}

input[type="checkbox"]:checked {
  width: 25px;
  height: 25px;
}

input[id="accept"]:checked {
  color: green;
}

input[type="radio"]:checked {
  margin-left: 25px;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

#left {
  flex-shrink: 0;
}

.top-left {
  flex-shrink: 0;
}

.top-right {
  flex-shrink: 0;
  display: flex;
}

ul {
  display: flex;
  list-style: none;
}

.bottom {
  flex-grow: 1;
  overflow-y: auto;
}