* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: lightblue;
}

label[id="tos"] {
  color: red;
}

input[type="checkbox"]:checked {
  width: 25px;
  height: 25px;
}

input[id="accept"]:checked {
  color: green;
}

input[type="radio"]:checked {
  margin-left: 25px;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
